<dialog #settingsDialog class="w-full max-w-2xl rounded-lg shadow-lg p-0 backdrop:bg-gray-800/50">
    <div class="p-6">
        <div class="flex justify-between items-center mb-8">
            <h2 class="text-xl font-semibold">Settings</h2>
            <IconButtonComponent icon="close" size="small" (callbackFunction)="close()"></IconButtonComponent>
        </div>

        <div class="flex flex-col gap-4">
            <div>
                <div class="flex items-center justify-between">
                    <label class="text-sm font-medium">Start week on Sunday</label>
                    <ToggleComponent [isOn]="!isStartOnMonday" (toggle)="onToggleFirstDay()"></ToggleComponent>
                </div>
            </div>
        </div>

        <div class="flex justify-between items-center mt-4">
            <p class="text-sm"> Made with ❤️ by Robzyy</p>
            <ButtonComponent label="Source Code" leadingIcon="code" size="small" fontWeight="medium" (callbackFunction)="otherFunction()">
            </ButtonComponent>
        </div>
    </div>
</dialog>
