<div class="p-4 bg-background-900 rounded-lg">
    @for (membership of memberships; track membership.id) {
        <div class="space-y-2">
            <!-- Title and Cost -->
            <div class="flex justify-between items-start">
                <h3 class="text-lg font-semibold">{{ membership.title }}</h3>
                <div class="text-right">
                    <span class="text-lg font-medium ">
                        {{ membership.cost | currency:membership.currency }}
                    </span>
                    <div class="text-sm">
                        {{ membership.recurrencePattern?.frequency }}
                    </div>
                </div>
            </div>

            <!-- Description -->
            @if (membership.description) {
                <p class="">{{ membership.description }}</p>
            }

            <!-- Recurrence Pattern -->
            <div class="text-sm">
                {{ printFrequency(membership) }}
            </div>
        </div>
    }
</div>
