<div class="flex h-screen items-center justify-center bg-background-950">
  <div class="w-full max-w-md space-y-4">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="onSubmit()"
      class="flex flex-col gap-2"
    >
      <!-- Display Name -->
      <InputTextComponent
        formControlName="displayName"
        label="Display Name"
        type="text"
        autoComplete="on"
        [error]="getDisplayNameErrors"
      />
      <!-- Email -->
      <InputTextComponent
        formControlName="email"
        label="Email"
        type="email"
        autoComplete="on"
        [error]="getEmailErrors"
      />
      <!-- Password -->
      <InputTextComponent
        formControlName="password"
        label="Password"
        type="password"
        autoComplete="off"
        [error]="getPasswordErrors"
      />
      <!-- Confirm Password -->
      <InputTextComponent
        formControlName="confirmPassword"
        label="Confirm Password"
        type="password"
        autoComplete="off"
        [error]="getConfirmPasswordErrors"
      />
      <!-- Submit Button -->
      <ButtonComponent
        label="Create account"
        [variant]="registerForm.valid ? 'primary' : 'disabled'"
        fontWeight="medium"
        callbackFunction="onSubmit()"
      />
    </form>
    <!-- Login Link -->
    <div class="text-sm">
      <p class="text-text-100">Already have an account?</p>
      <a href="/login" class="font-medium text-text-400">Login</a>
    </div>
  </div>
</div>
