<dialog #dayDialog class="w-full max-w-2xl bg-background-950 rounded-lg shadow-lg p-0 backdrop:bg-gray-800/50">
    <div class="p-6">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-xl font-semibold">
                {{ selectedDate | date:'MMMM d, yyyy' }}
            </h2>
            <IconButtonComponent icon="close" size="small" (callbackFunction)="close()"></IconButtonComponent>
        </div>

        <div class="flex flex-col gap-4">
            @for (membership of memberships; track membership.id) {
                <MembershipInDialog [memberships]="[membership]" />
            }
        </div>
    </div>
</dialog>